:root {
  --primary-color: #68d5bc; /* Green */
  --primary-color-rgb: 104, 213, 188; /* RGB for Green */
  --secondary-color: #000000; /* Dark Gray */
  --secondary-color-rgb: 0, 0, 0; /* RGB for Dark Gray */
  --text-color: #ffffff; /* White */
  --link-hover-color: #00ffc8; /* Cyan on hover */
}
html {
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 200;
  font-size: x-large;
  overflow-x: hidden;
}

section {
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
  min-height: 70vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; /* Lighter font weight for headings */
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-transform: uppercase;
  opacity: 0;
  animation: fadeInLeft 3s ease-out forwards;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 25%;
}

b {
  color: var(--primary-color);
  font-weight: 500;
}

section p {
  line-height: 1.5;
  font-weight: 200;
  opacity: 0;
  animation: fadeInRight 3s ease-out forwards;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 25%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: 80%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center; /* Vertically center icon and text */
  gap: 2rem; /* Space between icon and text */
  justify-content: flex-start;
}

#about {
  width: 100vw;
  padding-top: 15rem;
  background-image: linear-gradient(
      to bottom,
      rgba(var(--secondary-color-rgb), 0.1) 90%,
      rgba(var(--secondary-color-rgb), 0.9) 100%
    ),
    radial-gradient(
      rgba(var(--primary-color-rgb), 0.1) 0%,
      rgba(var(--primary-color-rgb), 0.2) 100%
    ),
    url("./assets/images/laptop-colorful-code.png");
  background-size: cover;
  background-position: bottom center;
  padding-left: 10%;
}

#about * {
  width: 80%;
  padding-bottom: 1rem;
  max-width: 50rem;
  opacity: 0;
  animation: fadeInLeft 2s ease-out forwards;
  animation-delay: 0.2s;
}

#about h2 {
  color: var(--text-color);
}
#about a img {
  width: 34px;
  height: 34px;
  color: var(--primary-color);
  text-decoration: none;
}

.icon {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  max-height: 3rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}

.neon {
  box-shadow: 0 0 1px 1px var(--primary-color), 0 0 4px 2px var(--primary-color);
  background: radial-gradient(
    rgba(var(--primary-color-rgb), 0.5) 5%,
    rgba(var(--primary-color-rgb), 0.2) 100%
  );
  backdrop-filter: blur(35px);
  transition: box-shadow 0.2s;
  opacity: 0;
  scale: 0.8;
  animation: fadeInBehind 3s ease-out forwards;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 20%;
}

.rotated-square {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  display: inline-block;
  transform: rotate(45deg);
}

.grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr; /* 2 rows */
  gap: 1rem; /* optional: space between items */
}

.grid-2x2 > div {
  background: #222;
  color: #fff;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
}

footer {
  width: 100%;
  height: 10rem;
  background-color: rgba(var(--primary-color-rgb), 0.1);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  backdrop-filter: blur(35px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
    opacity: 0.2;
  }
}

@keyframes fadeInBehind {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10rem);
  }
}

@keyframes fadeOutFront {
  25% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
    scale: 2;
    transform: translateY(-20rem);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.fade-out-up {
  opacity: 1;
  animation: fadeOutUp 3s linear;
  animation-timeline: view();
  animation-range: exit;
}

.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 2s ease-out forwards;
  animation-delay: 0.2s;
}

.scroll-watcher {
  width: 5px;
  position: fixed;
  left: 0;
  z-index: 10000;
  background-color: rgba(var(--primary-color-rgb), 0.5);
  height: 100%;
  scale: 1 0;
  animation: scroll-watcher 1s linear;
  animation-timeline: scroll();
}

.fade-in-behind {
  opacity: 0;
  scale: 0.8;
  animation: fadeInBehind 3s ease-out forwards;
  animation-timeline: view();
  animation-range-start: 5%;
  animation-range-end: 10%;
}

#education ul li > p:first-of-type {
  opacity: 0;
  animation: fadeInLeft 3s ease-out forwards;
  animation-timeline: view();
  animation-range-start: 10%;
  animation-range-end: 25%;
}

.fade-out-front {
  animation: fadeOutFront 3s ease-out forwards;
  animation-timeline: view();
  animation-range: exit; /* styles for all descendants of #about */
}
